<div class="row instructions">
  <div class="col-12 text-center">
    <h5 class="expense-color">Manage your expense categories</h5>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-7 mb-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center mb-4">Category list</h5>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Limit</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of expenseCategories">
              <td>{{ category.title }}</td>
              <td>{{ category.limit }}</td>
              <td>
                <fa-icon
                  (click)="getCategory(category._id)"
                  class="action-icon"
                  ngbTooltip="Edit"
                  [icon]="faEdit"
                ></fa-icon>
                <fa-icon
                  (click)="openModalConfirm(modalConfirm, category._id)"
                  class="action-icon"
                  ngbTooltip="Delete"
                  [icon]="faTrashAlt"
                ></fa-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-8 col-md-4 col-lg-4 col-xl-5 mb-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">New category</h5>
        <form [formGroup]="formCategory">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="food"
              formControlName="title"
            />
          </div>
          <div class="form-group">
            <label for="limit">Limit</label>
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
              <input
                type="number"
                class="form-control"
                id="limit"
                required
                formControlName="limit"
              />
            </div>
          </div>
          <div class="button-options float-right">
            <button
              *ngIf="!showButtonEdit"
              (click)="saveIncome()"
              class="btn btn-primary btn-sm"
              [disabled]="!formCategory.valid"
            >
              Save
            </button>
            <button
              class="btn btn-primary btn-sm"
              *ngIf="showButtonEdit"
              (click)="updateCategory()"
            >
              Edit
            </button>
            <button
              class="btn btn-secondary btn-sm"
              *ngIf="showButtonEdit"
              (click)="cancelEdit()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <h5>Are you sure you want to delete this item?</h5>
        <h6>This process is irreversible</h6>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" (click)="modal.close('Save click')">Close</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="deleteCategory()">Confirm</button>
  </div>
</ng-template>