.float-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  ;
}
.icon-float{
  font-size: 70px;
  color: #035AA6;
}
.income-color{
  color: #026873;
  font-weight: 500;
}
.expense-color{
  color: #f20c49;
  font-weight: 500;
}  