<div class="container-fluid">
  <app-month-calendar> </app-month-calendar>
  <app-summary-cards></app-summary-cards>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6">
      <app-income></app-income>
    </div>
    <div class="col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6">
      <app-expenses></app-expenses>
    </div>
  </div>
  <div class="float-button">
    <button mat-button [matMenuTriggerFor]="menu">
      <fa-icon class="icon-float" [icon]="faPlusCircle"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        class="income-color"
        (click)="openModal(modalIncomeExpense, $event)"
      >
        Income
      </button>
      <button
        mat-menu-item
        class="expense-color"
        (click)="openModal(modalIncomeExpense, $event)"
      >
        Expense
      </button>
    </mat-menu>
  </div>
</div>

<ng-template #modalIncomeExpense let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New {{ optionModal }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formIncome" *ngIf="optionModal == 'Income'">
      <div class="form-group">
        <label for="newValue">Value</label>
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control"
            id="newValue"
            required
            formControlName="value"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="newCategoryIncome">Category</label>
        <select
          class="form-control"
          id="newCategoryIncome"
          formControlName="category"
        >
          <option value="selectCategory">Select category</option>
        </select>
      </div>
    </form>
    <form [formGroup]="formExpense" *ngIf="optionModal == 'Expense'">
      <div class="form-group">
        <label for="newValue">Value</label>
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control"
            id="newValue"
            required
            formControlName="value"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="newCategoryExpense">Category</label>
        <select
          class="form-control"
          id="newCategoryExpense"
          formControlName="category"
          (change)="validatorSelectCategory()"
        >
          <option value="selectCategory">Select category</option>
          <option value="food">food</option>
        </select>
      </div>
    </form>
    <button
      type="button"
      class="btn btn-primary float-right"
      *ngIf="optionModal == 'Income'"
      (click)="saveIncome()"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-primary float-right"
      *ngIf="optionModal == 'Expense'"
      (click)="saveExpense()"
      [disabled]="!formExpense.valid || validatedSelectCategory"
    >
      Save
    </button>
  </div>
</ng-template>
