nav{
  background: #035AA6;
  box-shadow: 0 2px 10px rgba(110, 110, 110, 0.7);
}
.main-title{
  margin-left: 18px;
  font-size: 22px;
}
.current-username{
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.navbar-toggler{
  border: 0;
}