<div class="row instructions">
  <div class="col-12 text-center">
    <h5 class="income-color">Manage your income categories</h5>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-7 mb-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center mb-4">Income list</h5>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of incomeCategories">
              <td >{{category.title}}</td>
              <td>
                <fa-icon
                  (click)="getCategory(category._id)"
                  class="action-icon"
                  ngbTooltip="Edit"
                  [icon]="faEdit"
                ></fa-icon>
                <fa-icon
                  class="action-icon"
                  ngbTooltip="Delete"
                  [icon]="faTrashAlt"
                ></fa-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-8 col-md-4 col-lg-4 col-xl-5 mb-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">New category</h5>
        <form [formGroup]="formCategory">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="food"
              formControlName="title"
            />
          </div>
          <div class="button-options float-right">
            <button
              *ngIf="!showButtonEdit"
              class="btn btn-primary btn-sm"
              [disabled]="!formCategory.valid"
              (click)="saveIncome()"
            >
              Save
            </button>
            <button class="btn btn-primary btn-sm" *ngIf="showButtonEdit" (click)="updateCategory()" >
              Edit
            </button>
            <button class="btn btn-secondary btn-sm" *ngIf="showButtonEdit" (click)="cancelEdit()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
