table {
  width: 100%;
  margin-top: 40px;
  
}
.mat-table {
  background: none; 
  border-radius: 10px; 
}
th.mat-sort-header-sorted {
  color: black;
}
.action-icon{
  font-size: 17px;
  cursor: pointer;
  margin-right: 8px;
  font-weight: normal;
}
