<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Create account</h5>
    <div class="form" [formGroup]="formRegister">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          required
          placeholder="user@gmail.com"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          required
          id="password"
          formControlName="password"
        />
      </div>
      <div class="control-options">
        <a class="a-router-link" [routerLink]="['/authentication']">Login</a>
        <button
          class="btn btn-primary btn-sm float-right"
          [disabled]="!formRegister.valid"
          (click)="register()"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
