<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Login</h5>
    <div class="form" [formGroup]="formLogin">
      <div class="form-group">
        <label for="email-login">Email</label>
        <input
          type="email"
          class="form-control"
          required
          placeholder="user@gmail.com"
          id="email-login"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input          
          type="password"
          class="form-control"
          required
          id="password-login"
          formControlName="password"
        />
      </div>
      <div *ngIf="errorPasswordOrEmail">
        <small class="form-text text-muted"
          >Wrong password or email</small
        ><br>
      </div>

      <div class="control-options">
        <a class="a-router-link" [routerLink]="['/authentication/register']"
          >Don't have an account?</a
        >
        <button
          (click)="login()"
          class="btn btn-primary btn-sm float-right"
          [disabled]="!formLogin.valid"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
