<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Login</h5>
    <div class="form">
      <div class="form-group">
        <label for="email-login">Email</label>
        <input
          type="email"
          class="form-control"
          required
          placeholder="user@gmail.com"
          id="email-login"
        />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input
          type="password"
          class="form-control"
          required
          placeholder="user@gmail.com"
          id="password-login"
        />
      </div>
      <div class="control-options">
        <a class="not-account">Don't have an account?</a>
        <button class="btn btn-primary btn-sm float-right">Login</button>
      </div>
    </div>
  </div>
</div>
