.card{
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(110, 110,110, 0.4);
}
.card:hover{
  box-shadow: 2px 2px 10px rgba(110, 110,110, 0.6);
}
.btn{
  border-radius: 10px;
}
.a-router-link{
  cursor: pointer;
  text-decoration: none; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
