<div class="container-fluid">
  <div class="row align-items-center justify-content-center height-100">
    <div class="col-12">
      <div class="row justify-content-center align-items-center">
        <fa-icon class="logo" [icon]="faPiggyBank"></fa-icon>
        <h1>Expense Tracker</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<app-toast [dataToast]="toastService.dataToast"></app-toast>